/tmp/pids
/public/assets
/public/packs
/public/packs-test
.env
.DS_Store
.bin
.git
.gitignore
.bundleignore
.bundle
.byebug_history
.rspec
tmp
log
test
config/deploy
node_modules
yarn-error.log
coverage/
